html, body {
    background-color: white;
    padding-right: 100px;
    padding-left: 100px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 60px;
    color: darkturquoise;
    border-bottom: solid;
    border-bottom-color: darkturquoise;
    border-width: 1px;
}

#navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 6px;
    padding: 10px;
    text-decoration:none;
}

#search {
    color: red;
    font-size: 20px;
    padding-top: 20px;
}

form {
    display: flex;
    justify-content: space-between;

}

input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    font-size: 25px;
    outline: 0;
    margin-bottom: 30px;

}

button {
    width: 15%;
    height: 58px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

table {
    width: 100%;
}

th {
    background-color: cyan;
    height: 80px;
    border-color: white;
    border-width: 1px;
    margin-top: 20px;
    font-size: 24px;
}

tr {
    height: 80px;
}

.name {
    font-size:24px;
}

.price, .quantity {
    font-size: 30px;
    text-align: center;
}



