@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Email validator: 
<form action="/useful/email">
    <input name="email" type="text" />
    <button>Validate</button>
</form>

<br />
<br />
Caesar encoder: 
<form action="/useful/encoder">
    <input name="text" type="text" />
    <input name="number" type="number" />
    <button>Encode</button>
</form>

Caesar decoder: 
<form action="/useful/decoder">
    <input name="text" type="text" />
    <input name="number" type="number" />
    <button>Decode</button>
</form>


