@model FirstWebApp.Models.Greeting
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Getting Started: Serving Web Content</title>
  </head>

@{
//int counter;
//counter++;



}


  <body>
    <p>
      Hello , @Model.Id ! This site was loaded @Model.Counter times since last server start
    </p>
  </body>
</html>
